/* MINIMUM RESET STYLES */
/*===============================================*/

html {
    box-sizing: border-box;
    font-size: 16px;
  }
  
  *, *:before, *:after {
    box-sizing: inherit;
  }
  
  body, h1, h2, h3, h4, h5, h6, p, ol, ul {
    margin: 0;
    padding: 0;
    font-weight: normal;
  }
  
  ol, ul {
    list-style: none;
  }
  
  img {
    max-width: 100%;
    height: auto;
  }


  /* GLOBAL VARIABLES */
  /*===============================================*/
  /*===============================================*/

  /* COLORS  */

:root {
  --basic-black: black;
  --basic-white: white;
  --dark-gray: gray;
  --light-gray: lightgray;
  --red: red;
  --dark-blue: rgb(79, 76, 176);
  --light-blue: rgb(107, 147, 214);
  --green: rgb(159, 193, 100);
  --dark-orange: rgb(205,114,45);
  --light-orange: rgb(211, 145, 101);
  --yellow: rgb(239, 227, 203);
  }

  /*===============================================*/
  /* TYPOGRAPHY */
/*===============================================*/

body {
  font-family: 'Josefins Sans', sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5rem;
}

.container  {
  background-color: var(--yellow);
  width: 100%;
  max-width: 960px; /* to add or to remove max-width??? leave it ? delete it ? edit it?*/
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box; 
  display: flex; /* added by Paulina*/
  flex-direction: column; /* added by Paulina*/
}

/* TYPOGRAPHY */
h1, h2, h3, h4, h5, h6 {margin: 1rem 0; font-weight: 300;}

h1 {
  font-size: 3.25rem;   
  line-height: 1;  
}

h2 {
  font-size: 2.75rem;   
  line-height: 1.25
}

h3 {
  font-size: 2rem;      
  line-height: 1.2;
}

h4 {
  font-size: 1.25rem;  
  line-height: 1.3;
}

h5 {
  font-size: 1rem;   
  font-weight: bold; 
  line-height: 1.4;
}

h6 {
  font-size: 1rem;   
  line-height: 1.5;
}


  /* Bold, italic, underline, and strikethrough (single letter tag) */
  .b   {font-weight: bold;}
  .i   {font-style: italic;}
  .u   {text-decoration: underline;}
  .s   {text-decoration: line-through;}

  /* Bold, italic, underline, and strikethrough (whole word tag) */
  .bold       {font-weight: bold;}
  .italic     {font-style: italic;}
  .under      {text-decoration: underline;}
  .strike     {text-decoration: line-through;}


  /* HEADER */
/*===============================================*/

header {
    background-color: var(--green);
    border-bottom: solid 2px var(--dark-blue);
    padding: 1em;
}

#logo {
    width: 25%;
}

  /* NAVIGATION */
/*===============================================*/

.icon {
    background-color: var(--green);
    border: solid 1px var(--dark-blue);
    box-shadow: 1px 1px var(--dark-blue);
    border-radius: 6px ;
    position: absolute;
    z-index: 100;
    top: 1.5em;
    right: 2em;
    padding: 4px;
    cursor: pointer;
}

.menuIcon, .closeIcon {
    font-size: 2.5em;
    color: var(--dark-blue);   
}

.closeIcon {
    display: none;
}

nav ul {
    text-transform: uppercase;
    position: fixed;
    transform: translateY(-100%);
    transition: transform 0.2s;
    top: 0;
    left: 0;
    right: 0;
    z-index: 99;
    background: black;
    color: white;
    list-style: none;
    padding-top: 5.5rem;
    line-height: 3em;
}

.showMenu {
    transform: translateY(0);
  }

nav a {
 color: rgb(255, 255, 255);
 text-decoration: none;
 padding: 0 1em;
 margin: .5em 0;
 font-size: 1.2em;
 display: block;
}
nav a:hover {
    background-color: var(--green);
    color: rgb(0, 0, 0);
}

nav a#logoLink:hover {
    background-color: var(--green);
}

nav a.active {
    background-color: var(--light-blue);
    color: black;
    
}

/*===============================================*/
  /* MAIN */
/*===============================================*/
article {
  width: 90%;
  margin: 1em;
 }

section {
  margin: 1em 0;
  padding: 1em;
  border: solid 1px var(--dark-gray);
  border-radius: 6px;
}

.homeBtns {
  display: flex;
  flex-direction: column;
  gap: 1em;
  text-align: center;
  margin: 1em auto;
}

/* CODE */
/*===============================================*/
pre {
  white-space: pre-wrap;
  /* font-size: 12px; */
  line-height: 15px;
  margin: 0;
  padding: 10px;
  /* word-wrap: break-word; */
  
  /* Since CSS 2.1 */
  white-space: -moz-pre-wrap;
  /* Mozilla, since 1999 */
  white-space: -pre-wrap;
  /* Opera 4-6 */
  white-space: -o-pre-wrap;
  /* Opera 7 */
  word-wrap: break-word;
  /* Internet Explorer 5.5+ */ 
} 

code {
  text-align: left;
}

  /* COLOR PALLETE */
/*===============================================*/
.color {
  border-radius: 6px;
  width: 150px;
  height: 30px;
  margin: 10px;
}

.black {
  background-color: var(--basic-black);
}

.white {
  background-color: var(--basic-white);
  border: solid 1px var(--dark-gray);
}

.gray {
  background-color: var(--dark-gray);
}

.lightGray {
  background-color: var(--light-gray);
}

.red {
  background-color: var(--red);
}

.darkBlue {
  background-color: var(--dark-blue);
}

.lightBlue {
  background-color: var(--light-blue);
}
.green {
  background-color: var(--green);
}

.darkOrange {
  background-color: var(--dark-orange);
}

.lightOrange {
  background-color: var(--light-orange);
}
.yellow {
  background-color: var(--yellow);
  border: solid 1px var(--dark-gray);
}


  /* LISTS */
/*===============================================*/

ul.disc1 {
  list-style-type: disc;
  list-style-position: inside;
}

ul.disc2 {
  list-style-type: disc;
  padding-left: 1em;
  list-style-position: inside;
}

ol.decimal {
  list-style-type: decimal;
  list-style-position: inside;
}

ol.decimal2 {
  list-style-type: decimal;
  padding-left: 1em;
  list-style-position: inside;
}


/* TABLES  */
/*===============================================*/

table {
  border-collapse: collapse;
  width: 100%;
  border: solid 1px var(--dark-blue);
  margin: 1em 0;
  line-height: 1.2em;
  text-align: left;
}


td, th {
  border: solid 1px var(--dark-blue);
  padding: .5em;
  font-weight: 400;
}

th {
  font-weight: 700;
}

.striped tr:nth-child(even) {
  background-color: var(--light-blue);
}

.bordered th {
  background-color: var(--light-blue);
}

/* BUTTONS  */
/*===============================================*/

button, .button {
  display: inline-block;
  text-decoration: none;
  text-align: center;
  border: solid 1px gray;
  border-radius: 6px;
  padding: .5em;
  font-size: 1em;
  transition: all .25s;
  margin: 1em;
  max-width: 70%;
}

button.icon {
  margin: 0;
}

button a {
  text-decoration: none;
  color: var(--basic-black);
}
button.black, button.darkBlue, button.gray{
  color: var(--basic-white);
}


.XS {
  max-width: 30px;
  font-size: 10px;
}
.XS:hover {
  border: solid  3px var(--basic-black);
}

.S {
  max-width: 70px;
  padding: .4em;
  font-size: 12px;
}

.M {
  max-width: 100px;
  padding: .7em;
  font-size: 16px;
}

.L {
  max-width: 200px;
  padding: 1.2em;
  font-size: 20px;
}

button:hover, .button:hover {
  letter-spacing: 4px;
}


/*===============================================*/
  /* COMPONENTS */
/*===============================================*/

/* PARALLAX SCROLL */
/*===============================================*/

.parallax {
  /* Image */
  background-image: url();

  /* Set a height */
  min-height: 300px;

  /* Code for parallax scroll effect*/
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}


/* MUSIC PLAYER  */
/*===============================================*/

.todo-list {
  margin-top: 20px;
}

.todo-item {
  display: flex;
   align-items: center;
  justify-content: center;
  background-color: lightskyblue;
  margin-bottom: 10px;
}

.todo-item input[type="checkbox"] {
  margin-right: 10px;
}

.todo-item .text {
  flex-grow: 1;
}

.buttons-container {
  margin-top: 5px;
}

.buttons {
  display: flex;
  justify-content: center;
  margin:8px auto;

  /* text-align:center; */
}

.buttons button {
  margin-right: 10px;
}


/* VIDEO PLAYER */

.video-player {
  max-width: 100%;
  position: relative;
  padding-bottom: 56.25%; /* 16:9 aspect ratio */
  height: 0;
  margin-bottom: 20px;
  display: none;
}

.video-player.active {
  display: block;
}

.video-player video,
.video-player iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.controls {
  margin-top: 10px;
}


/*===============================================*/
/* FOOTER */
/*===============================================*/

footer {
  background-color: var(--green);
  border-top: solid 2px var(--dark-blue);
  padding: 1em;
}

footer p {
   margin: 1em;
}